#!/usr/bin/env python

# See http://wiki.ros.org/dynamic_reconfigure/Tutorials/HowToWriteYourFirstCfgFile

PACKAGE = "baxter_pick_and_place"

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator
from dynamic_reconfigure.parameter_generator_catkin import int_t

gen = ParameterGenerator()

gen.add("exposure", int_t, 0, "Camera exposure", -1, -1, 100)
gen.add("gain", int_t, 0, "Camera gain", 0, -1, 79)

gen.add("white_red", int_t, 0, "White balance red", -1, -1, 4095)
gen.add("white_green", int_t, 0, "White balance green", -1, -1, 4095)
gen.add("white_blue", int_t, 0, "White balance blue", -1, -1, 4095)

exit(gen.generate(PACKAGE, "baxter_pick_and_place", "Cam"))
