#!/usr/bin/env python

# See http://wiki.ros.org/dynamic_reconfigure/Tutorials/HowToWriteYourFirstCfgFile

PACKAGE = "baxter_pick_and_place"

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator
from dynamic_reconfigure.parameter_generator_catkin import int_t

gen = ParameterGenerator()

gen.add("canny_low", int_t, 0, "Canny low", 0, 0, 400)
gen.add("canny_high", int_t, 0, "Canny high", 0, 0, 400)

exit(gen.generate(PACKAGE, "canny_cfg", "Canny"))
