data/*
!data/ResNet-101/
!data/ResNet-101/fetch_*
data/ResNet-101/*
!data/VGG16/
!data/VGG16/fetch_*
data/VGG16/*
!data/VGG16/fetch_*_model.sh

log/*

*~

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
build/

# PyCharm stuff:
.idea/

# IPython stuff:
*/.ipynb_checkpoints/
