data/*
!data/synthetic_demo_data/
data/synthetic_demo_data/*
!data/synthetic_demo_data/*_cascade.xml

setup/*

*~

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
build/

# PyCharm stuff:
.idea/

# IPython stuff:
*/.ipynb_checkpoints/
