<?xml version="1.0" ?>

<robot name="work_table">
    <!-- Rigidly fixing the table to the world -->
    <link name="world"/>
    <joint name="base" type="fixed">
        <parent link="world"/>
        <child link="leg1"/>
    </joint>

    <link name="leg1">
        <visual>
            <origin xyz="-0.483 -0.483 0.3575"/>
            <geometry>
                <box size="0.03 0.03 0.69"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="-0.483 -0.483 0.3575"/>
            <geometry>
                <box size="0.03 0.03 0.69"/>
            </geometry>
        </collision>
    </link>

    <link name="leg2">
        <visual>
            <origin xyz="-0.483 0.483 0.3575"/>
            <geometry>
                <box size="0.03 0.03 0.69"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="-0.483 0.483 0.3575"/>
            <geometry>
                <box size="0.03 0.03 0.69"/>
            </geometry>
        </collision>
    </link>

    <link name="leg3">
        <visual>
            <origin xyz="0.483 0.483 0.3575"/>
            <geometry>
                <box size="0.03 0.03 0.69"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.483 0.483 0.3575"/>
            <geometry>
                <box size="0.03 0.03 0.69"/>
            </geometry>
        </collision>
    </link>

    <link name="leg4">
        <visual>
            <origin xyz="0.483 -0.483 0.3575"/>
            <geometry>
                <box size="0.03 0.03 0.69"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.483 -0.483 0.3575"/>
            <geometry>
                <box size="0.03 0.03 0.69"/>
            </geometry>
        </collision>
    </link>

    <joint name="f1" type="fixed">
        <parent link="leg1"/>
        <child link="pedestal"/>
    </joint>

    <joint name="f2" type="fixed">
        <parent link="pedestal"/>
        <child link="leg2"/>
    </joint>

    <joint name="f3" type="fixed">
        <parent link="pedestal"/>
        <child link="leg3"/>
    </joint>

    <joint name="f4" type="fixed">
        <parent link="pedestal"/>
        <child link="leg4"/>
    </joint>

    <link name="pedestal">
        <visual name="top1">
            <origin xyz="0 0.4825 0.6725"/>
            <geometry>
                <box size="0.966 0.035 0.035"/>
            </geometry>
        </visual>
        <visual name="top2">
            <origin xyz="0.4825 0 0.6725"/>
            <geometry>
                <box size="0.035 0.966 0.035"/>
            </geometry>
        </visual>
        <visual name="top3">
            <origin xyz="0 -0.4825 0.6725"/>
            <geometry>
                <box size="0.966 0.035 0.035"/>
            </geometry>
        </visual>
        <visual name="top4">
            <origin xyz="-0.4825 0 0.6725"/>
            <geometry>
                <box size="0.035 0.966 0.035"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0.6725"/>
            <geometry>
                <box size="1.0 1.0 0.035"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0.5 0.5 0.345"/>
            <mass value="0.5"/>
            <inertia ixx="0.5" ixy="0.0" ixz="0.0"
                     iyy="0.5" iyz="0.0"
                     izz="0.5"/>
        </inertial>
    </link>

    <joint name="screws" type="fixed">
        <parent link="pedestal"/>
        <child link="surface"/>
    </joint>

    <link name="surface">
        <visual>
            <origin xyz="0 0 0.7025"/>
            <geometry>
                <box size="1.0 1.0 0.025"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0.7025"/>
            <geometry>
                <box size="1.0 1.0 0.025"/>
            </geometry>
        </collision>
    </link>

    <joint name="lyingontop" type="fixed">
        <parent link="surface"/>
        <child link="linen"/>
    </joint>

    <link name="linen">
        <visual>
            <origin xyz="0 0 0.716"/>
            <geometry>
                <box size="1.0 1.0 0.002"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0.716"/>
            <geometry>
                <box size="1.0 1.0 0.002"/>
            </geometry>
        </collision>
    </link>


    <gazebo reference="leg1">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="leg2">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="leg3">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="leg4">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="pedestal">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="surface">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="linen">
        <material>Gazebo/Black</material>
    </gazebo>
</robot>