<?xml version="1.0" ?>
<robot name="baxter" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="pedestal" default="true"/>
  <xacro:arg name="depth_internal" default="false"/>
  <xacro:arg name="depth_external" default="false"/>

  <!-- Baxter Base URDF -->
  <xacro:include filename="$(find baxter_description)/urdf/baxter_base/baxter_base.urdf.xacro">
    <xacro:arg name="gazebo" value="${gazebo}"/>
  </xacro:include>

  <!-- Baxter Pedestal -->
  <xacro:if value="$(arg pedestal)">
    <xacro:include filename="$(find baxter_description)/urdf/pedestal/pedestal.xacro">
      <xacro:arg name="gazebo" value="${gazebo}"/>
    </xacro:include>
  </xacro:if>

  <!-- Left End Effector -->
  <xacro:include filename="$(find baxter_pick_and_place)/models/baxter/left_end_effector.urdf.xacro" />

  <!-- Right End Effector -->
  <xacro:include filename="$(find baxter_pick_and_place)/models/baxter/right_end_effector.urdf.xacro" />

  <!-- Depth sensor mounted on head_camera -->
  <xacro:if value="$(arg depth_internal)">
    <xacro:include filename="$(find senz3d_description)/urdf/senz3d.xacro"/>
    <xacro:sensor_senz3d prefix="/"
                         name="senz3d"
                         parent="head_camera"
                         cam_px="0.0"
                         cam_py="0.07"
                         cam_pz="0.04"
                         cam_or="0.0"
                         cam_op="-0.4"
                         cam_oy="-1.570796327"/>
  </xacro:if>

  <!-- Depth sensor placed in front of Baxter -->
  <xacro:if value="$(arg depth_external)">
    <xacro:include filename="$(find kinect_description)/urdf/kinect/kinect.xacro"/>
    <xacro:sensor_kinect prefix="/"
                         name="kinect2"
                         parent="base"
                         cam_px="2.5"
                         cam_py="0.0"
                         cam_pz="0.75"
                         cam_or="0.0"
                         cam_op="0.2"
                         cam_oy="3.1416"/>
  </xacro:if>
</robot>