<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="gazebo" default="false"/>

    <arg name="arm" default="left"/>
    <arg name="number" default="0"/>

    <!-- Fire up simulator and load Baxter model -->
    <include file="$(find baxter_pick_and_place)/launch/simulation.launch"/>

    <!-- View the hand camera used for finding objects -->
    <node name="hand_camera" pkg="image_view" type="image_view">
        <remap from="image" to="/cameras/$(arg arm)_hand_camera/image"/>
    </node>

    <!-- Run demonstration -->
    <node name="demonstration"
          pkg="baxter_pick_and_place" type="demonstration.py"
          required="true" respawn="false" output="screen" cwd="node"
          args="--limb $(arg arm) --number $(arg number)"/>
</launch>